body{
    background: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#login_box{
    width:600px;
    height:250px;
    margin: 0 auto;
}

#welcome{
    width:200px;
    float:left;
    font-family: "Lucida Console", "Courier New", monospace;
}

#login{
    width: 300px;
    height: 250px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 5px;
}

#login:hover {
    border: 4px solid Black;
    border-radius: 5px;
    background: rgba(180, 180, 180, 0.3);
    transition:border 2s;
    transition-timing-function: ease-out;
  }